body{
    background-color:#DEE8D5;
}
#title{
    color:white;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
}
#miniTitle{
    color:white;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
}
.jumbotron{
    background-image:url("https://cdlnws.a.ssl.fastly.net/image/upload/f_auto,t_maximum,q_auto/content/uaqazswmmzyt71mq5zrh.jpg") ;
    padding: 150px;
    margin: 5px;
}
.paragraphOne{
    font-family: 'Bitter', serif;
    font-weight: bolder;
    color:black;
    padding: 50px;
    margin: 50px;
    padding-top: 5px;
}
#twoTitle{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
    color:plum;
}
#twoMiniTitle{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
    color: plum;
}
#class{
    padding: 10px;
    margin: 10px;
}
#classroom{
    padding:5px;
    margin:5px;
}
.header{
    border:solid;
    border-color:white;
}
.paragraphTwo{
    font-family: 'Didact Gothic', sans-serif;
    padding: 15px;
    margin: 20px;
    color: gray;
}
#donor{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    font-weight: bold;
    font-style: italic;
    border-style: double;
}
.form{
    padding: 50px;
    margin:50px;
}
.btn-group{
    position:absolute;
    left:475px;
}
#donorFirst{
    position:absolute;
    right:450px
}
#registerFirst{
    position: absolute;
    left: 400px;
}
.registerForm{
    position:absolute;
    left:500px;
    bottom:100px;   
}
#register{
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    font-weight: bold;
    font-style: italic;
    border-style: double;
}
#image{
    padding:5px;
    margin:5px;
    position: absolute;
    left:200px;
}